/* body */
body {
    background: linear-gradient(120deg,#5483D5 , #F1624C );
}
h1 {
    color:White;
}
h2 {
    color:White;
}
h3 {
    color:White;
}
h3 {
    font-family: "Times New Roman", Times, serif;
}
p {
    color:White;
}
i {
    color:White;
}