/* body */
body {
    background: linear-gradient(120deg,#5483D5 , #F1624C );
    max-width: 13cm;
    color:White;
}
h1,h2,h3,p,em {
    color:White;
}
div {
    width: 70px;
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
    box-shadow: 1px 1px 20px #ee5253;
    text-decoration: none;
    margin: 1px;
}
div:hover{
    background-color:#D4918C;
}
a{
    text-decoration: none;
}