* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(120deg,#5483D5 , #F1624C );
    max-width: 13cm;
    color:White;
}
h1,h2,h3,p,em {
    color:White;
}
div {
    width: 70px;
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
    box-shadow: 1px 1px 20px #ee5253;
    text-decoration: none;
    margin: 1px;
}
footer:hover{
    background-color:#D4918C;
}
a{
    text-decoration: none;
}
figure{
    padding: 4px;
    margin: auto;
}
figcaption{
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
    width: 100%;
}
img{
    width: 100%;
}
.menu {
    width: 25%;
    float: left;
}
.main {
    width: 75%;
    float: left;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
  }