body {
    margin: 0;
	padding: 0;
	text-align: center;
	background-image: linear-gradient(120deg,#5483D5 , #F1624C );
	min-height: 100vh;
}
footer {
    width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 20px #ee5253;
}
h2{
    font-size: 30px;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
}
.text{
    text-align: left;
    margin-left: 150px;
    font-family: "Times New Roman", Times, serif;
}
#v, #h{
    color: #222f3e;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #341f97;
    width: 200px;
}
#v:focus, #h:focus{
    border-bottom: 2px solid #341f97;
    width: 300px;
    transition: 0.5s;
}
#result{
    color: #341f97;
    }
#btn{
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-image: linear-gradient(120deg,#5483D5 , #F1624C);
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    }
#btn:hover{
    box-shadow: 1px 1px 10px #341f97;
}
#info{
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
.navbar {
    overflow: hidden;
    background-color:rgba(0,0,0,0.2);
    width: 450px;
    margin: 0 auto;
    padding: 0 40px;
    
}  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
.subnav {
    float: left;
    overflow: hidden;
} 
.subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
} 
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color:rgba(0,0,0,0.2);
} 
.subnav-content {
    display: none;
    position: absolute;
    left: 29%;
    background-color:black ;
    width: 450px;
    z-index: 1;
    margin: 0 auto;
    padding: 0 40px;
}  
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}
  
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}
  
.subnav:hover .subnav-content {
    display: block;
}
.line-break {
    width: 320px;
    margin: 0 auto;
    border-top: 1px solid black;
}